<% include ./master/header %> 
 
<div class="container">
    <h1>Bienvenue sur BLOGSNTECH </h1>

    <p>
    <span>BLOGSNTECH</span> est un site web permettant de publier des articles scientifique et technologiques pour aidé les apprenant.<br>
    Notre but est de publier des articles de qualités sur beaucoup de domaines sur la science.<br>
    Fournir un repère aux passionner des nouvelles technologie(la programmation, le hacking, la sécurté des réseaux, l'IA, etc)<br>
    Nous somme une équipe de jeune passionner des sciences et technologies.<br>
    On n'y trouve des spécialistes en:
    <ul>
        <li>Cryptographie</li>
        <li>Code correcteur d'erreur.</li>
        <li>Big data</li>
        <li>L'intélligence artificielle</li>
        <li>Machine learning</li>
        <li>Le cloud camputing</li>
        <li>Sécurite informatique</li>
        <li>Développement logiciel</li> 
        <li>Développement web et mobile</li>
        <li>Base de données</li>
    </ul>
    </p>
</div>

<% include ./master/footer %>